<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Timelines</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <div id="react"></div>

    
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAHTms5vdsbtaMXrb5pWHc3whrexZ2fRHg",
        authDomain: "timelines-6d652.firebaseapp.com",
        databaseURL: "https://timelines-6d652.firebaseio.com",
        projectId: "timelines-6d652",
        storageBucket: "timelines-6d652.appspot.com",
        messagingSenderId: "960165999220"
      };
      firebase.initializeApp(config);
    </script>
    <script src="built/bundle.js"></script>

</body>
</html>